.main-bg-color{
    background-color: #24353f;
}
.main-shadow{
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}
.w-62{
    width: 62%;
}

.login{
    transition: all 0.25s 0s ease;
}

.login:hover{
    background-color: #17a2b8 !important;
    color: white !important;
    border-color: #17a2b8 !important;
}
.sign{
    text-decoration: none;
}
.sign:hover{
    text-decoration: underline;
}

input:focus{
    box-shadow: none !important;
}
.text-danger{
    display: none;
}